@using MyEvernote.Entities2
@model EvernoteUser
    <br />
<br />

    
@{
    ViewBag.Title = "Kullanıcı Profili";
}

<div class="container ">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            <img src="~/images/@Model.ProfileİmageFilename" class="img-fluid" width="138" height="138">
        </div>
    </div>
    <br />

    <div class="col-md-10">
        <h3>@(Model.Name + "  " + Model.Surname)</h3>
        <br />
        <h6><b>@Html.DisplayNameFor(model => model.Username) :</b> @Model.Username</h6>
        <br />
        <h6><b>@Html.DisplayNameFor(model => model.Email) :</b> @Model.Email</h6>
        <br />
    </div>



